@charset "utf-8";
/* CSS Document */


html, body {
  margin: 0px;

}

body {
	background-color:#110F17;


}

header {
	position:fixed;
	top:0;
	background-color: #110F17;
	height:60px;
	width:100%;	
	z-index: 1;
	
}


footer {
  position:fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
	
	background-color: #110F17;
	z-index:1;
	
	
}

*{font-family: azo-sans-web,sans-serif;
font-weight: 300;
font-style: normal;}

.grid{
	grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	display: grid;
	margin-left: 10px;
	margin-right:10px;
	margin-bottom:5px;
	margin-top:5px;
	
}

.bodygrid{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin-bottom: 200px;
	margin-left:70px;
	margin-right:85px;
	
}

.gridbottom{
	grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	display: grid;
	margin-left: 10px;
	margin-right:10px;
	margin-bottom:5px;
	margin-top:5px;
	
}
.firstflower{
	width:50px;
	height:50px;
	margin-left:70px;
	
}

.flower {
	width:50px;
	height:50px;
	margin-left:45%;
}

.flowertwo {
	width:25px;
	height:25px;
	margin-bottom:5px;
	margin-left:45%
	
}

.pictures{
	width:350px;
	height:250px;
	margin-left:20px;
	margin-right:20px;
	margin-top:40px;
	
}

.pictures:hover{
	scale: 1.5;
	border-style:solid;
	border-size:1px;
	border-color:#FFFFFF;
		
	
}

.tekst {
	width:230px;
	height:50px;
	
}

.red, .pconly{
	display: block;
	margin-left: auto;
  	margin-right: auto;
	width:60%
}

.container {
	position: relative;
  	text-align: center;
 	color: white;
	display:inline-grid;
	margin:10px;
		
}

.container:hover{
	scale: 1.1;
	
}

.pconly{
	display:inline;
}

.centered {
 	position: absolute;
	text-align:center;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	background-color:#110F17;
	padding:5px;
	text-decoration: none;
}

.textbox{
	width:500px;
	height:600px;
	border-style:solid;
	border-size: 1px;
	border-color:#FFFFFF;
	padding-right:20px;
	padding-left:20px;
	margin-left:20px;
	
}

.aboutmetekst {
	text-align:justify;
}

.empty{
	display:grid;
	justify-content: center;
	text-align: center;
}

p, h4 {
	color: #FFFFFF;
}

hr{
	width:500px;
	height:1px;
}

li {
	list-style:none;
}


h4 a {
	background-color:#EB1010;
	color:#FFFFFF; 
	padding:1px;
	background-image:radial-gradient(rgba(0,0,0,0),#110F17 80%);
	text-decoration:none;
	margin:5px;	
}

h5 {
	border:solid;
	color:#FFFFFF; 
	padding:1px;
	text-decoration:none;
	margin:5px;
	
}

a{
	text-decoration: none;
	color:#FFFFFF;
}

#selfportrait img{
	border-style:solid;
	border-size:1px;
	border-color:#FFFFFF; 
	border-radius:200px 200px 200px 200px;
}


#rock{
	margin:10px;
	display:grid;
	grid-template-rows: 1fr 1fr 1fr;
	justify-content:center;
	
}


#grad{
	height:20px;
	background-image:linear-gradient(#FFFFFF, rgba(0,0,0,0));
	
}

#gradbottom{
	height:20px;
	background-image:linear-gradient(rgba(0,0,0,0), #FFFFFF)
}



@media screen and (max-width:800px){
	.bodygrid{
		grid-template-columns: 1fr;
		width:100%;
		margin:0px;
	}
	#selfportrait{
		margin:10px;
	}
	.pconly{
		display:none;
	}
	.pictures:hover{
		scale:1.0;
		border-style:none;
	}
	.mobile{
	display:inline-block;
	justify-content: center;
	text-align: center;
	}
	.textbox{
		width:300px;
		height:900px;
	}
}

@media screen and (min-width:800px){
	ul {
		display:none;
	}
	.mobile{
	display:inline-block;
	justify-content: center;
	text-align: center;
		
	}	
	
}
