@charset "utf-8";
/* CSS Document */


html, body {
  margin: 0px !important;
}

body {
	background-color:#110F17;

}

/*
.animation{
	width: 100px;
	height: 100px;
	background-color: white;
	animation-name: test;
	position: relative;
	animation-duration: 4s;
	animation-delay;
	animation-iteration-count:infinite;
	animation-direction:alternate;
	animation-timing-function: ease-in-out
}
*/
/*
.animation:hover {
	background-color:darkred;
}


@keyframes test{
	0%{background-color:white; 
	left:0px; 
	top:0px;
	scale:1;}
	25%{left:200px; 
	top:0px;
	scale:1;}
	50%{background-color:darkred;
	left:200px; 
	top:200px;
	scale:2;}
	75%{left:0px; 
	top:200px;
	scale:1;}
	100%{background-color:white;
	left:0px; 
	top:0px;
	scale:1;}
}
*/
/*background-image:url("images/Watermark-6-2.jpg")*/

/*En hel blok, består af selektors, og en dekleration -> det er foregår mellem to curly brakets . Deklaration består af en property (hvad vil vi ændre) og en value (hvad vil vi ændre det til). */

/*body, er et html tag - og her bruger vi den til en type selector (da den kun bruger det man skriver). der ud over er der en * universal selektor, som vælger det hele i dokumentet*/

*{font-family: azo-sans-web,sans-serif;
font-weight: 300;
font-style: normal;}



.grid{
	grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	display: grid;
	margin-left: 60px;
	margin-right:10px;
	margin-bottom:5px;
	margin-top:5px;
	
	
}

.firstflower{
	width:50px;
	height:50px;
}

.flower {
	width:50px;
	height:50px;
	margin-left:70px;
}

.tekst {
	width:230px;
	height:50px;
	margin-right:120px;

}


.gridbottom{
	grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	display: grid;
	margin-left: 40px;
	margin-right:10px;
	margin-bottom:5px;
	margin-top:5px;
}



@media screen and (max-width:1280px){
	
	
}

@media screen and (min-width:340px){
	
	
}


h1 {
	
	
}

/*Fixed/sticky/relative/absolute */

p, h1, h4, ul {
	color: #FFFFFF;
}


a {
	background-color:#EB1010;
	color:#FFFFFF; 
	padding:1px;
	background-image:radial-gradient(rgba(0,0,0,0),#110F17 80%);
	text-decoration:none;
	margin:5px;
	
  
		
	
}

#aboutmetekst {
	width:500px;
	height:600px;
	border-style:solid;
	border-size: 1px;
	border-color:#FFFFFF;
	padding:8px;
	margin:10px;
}

#rock{
	margin:10px;
	display:grid;
	grid-template-rows: 1fr, 1fr, 1fr;
	justify-content:center;
	align-content: center;
}


#grad{
	height:30px;
	background-image:linear-gradient(#FFFFFF, rgba(0,0,0,0))
}

#gradbottom{
	height:30px;
	background-image:linear-gradient(rgba(0,0,0,0), #FFFFFF)
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}


