@charset "utf-8";
/* CSS Document */

body {
	background-color:#0E0D0D;

}

/*
.animation{
	width: 100px;
	height: 100px;
	background-color: white;
	animation-name: test;
	position: relative;
	animation-duration: 4s;
	animation-delay;
	animation-iteration-count:infinite;
	animation-direction:alternate;
	animation-timing-function: ease-in-out
}
*/

.animation:hover {
	background-color:darkred;
}


@keyframes test{
	0%{background-color:white; 
	left:0px; 
	top:0px;
	scale:1;}
	25%{left:200px; 
	top:0px;
	scale:1;}
	50%{background-color:darkred;
	left:200px; 
	top:200px;
	scale:2;}
	75%{left:0px; 
	top:200px;
	scale:1;}
	100%{background-color:white;
	left:0px; 
	top:0px;
	scale:1;}
}

/*background-image:url("images/Watermark-6-2.jpg")*/

/*En hel blok, består af selektors, og en dekleration -> det er foregår mellem to curly brakets . Deklaration består af en property (hvad vil vi ændre) og en value (hvad vil vi ændre det til). */

/*body, er et html tag - og her bruger vi den til en type selector (da den kun bruger det man skriver). der ud over er der en * universal selektor, som vælger det hele i dokumentet*/

*{font-family: azo-sans-web,sans-serif;
font-weight: 300;
font-style: normal;}

h1 {
	/*margin-left:600px;
	top:0px;
	right:300px;*/
	position:sticky;
	justify-content:center; 
	
}

/*Fixed/sticky/relative/absolute */

p, ol, h1, h2, ul {
	color: #FFFFFF;
}

ol li {
	color: darkred;
}

a {
	Background-color: Darkred;
}

.a {
	background-color:purple;
	width:500px;
	height:50px;
}

.b {
	background-color:darkblue;
	width:50%;
	height:50px;
}

.c{
	background-color:darkred;
	max-width:500px;
	height:50px;
}

.d{
	background-color:darkgreen;
	min-width:500px;
	height:50px;
}

@media screen and (max-width:500px) {
	.a, .b, .c, .d{
		background-color:deeppink;
		width:100px;
		display:inline-block;
	}
}




